
@{
    ViewData["Title"] = "CheckInbox";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="text-center mb-4">
	<h2 class="mb-0">Login</h2>
    <h1 class="text-muted">Check Your Inbox</h1>
</div>

