@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<h1>Reset Password</h1>

<div class="reset-password-form">
    <form asp-action="ResetPassword" method="post">
        <input type="hidden" asp-for="Email"/>
        <input type="hidden" asp-for="Token"/>
        <div class="mb-3">
            <label for="password" class="form-label">New Password</label>
            <input type="password" asp-for="Password" class="form-control" id="password" autocomplete="new-password">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label for="confirmPassword" class="form-label">Confirm New Password</label>
            <input type="password" asp-for="ConfirmPassword" class="form-control" id="confirmPassword" autocomplete="new-password">
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary mt-3">Change Password</button>
    </form>
</div>
