@model EmployeeDto

@{
    ViewData["Title"] = "Employee Details";
}
<h1 class="mb-4">@ViewData["Title"]</h1>

<div class="card p-4">
    <div class="row">
        <div class="col-md-6 mb-3">
            <label asp-for="Name" class="form-label"></label>
            <input type="text" asp-for="Name" class="form-control" readonly />
        </div>

        <div class="col-md-6 mb-3">
            <label asp-for="Age" class="form-label"></label>
            <input type="text" asp-for="Age" class="form-control" readonly />
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 mb-3">
            <label asp-for="Email" class="form-label"></label>
            <input type="text" asp-for="Email" class="form-control" readonly />
        </div>

        <div class="col-md-6 mb-3">
            <label asp-for="PhoneNumber" class="form-label"></label>
            <input type="text" asp-for="PhoneNumber" class="form-control" readonly />
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 mb-3">
            <label asp-for="Address" class="form-label"></label>
            <input type="text" asp-for="Address" class="form-control" readonly />
        </div>

        <div class="col-md-6 mb-3">
            <label asp-for="Salary" class="form-label"></label>
            <input type="text" asp-for="Salary" class="form-control" readonly />
        </div>
    </div>

    <div class="mt-4">
        
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>

